{% block title %}{{title}}{% endblock %}

{% block content %}

<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<link rel="stylesheet" href="static/css/period_3_Spanish_2_enroll.css">

 <div class="topnav">
   <a class="active" href="{{url_for('main')}}">Main</a>
   <a href="{{url_for('period_1_Spanish_1_enroll')}}">Period 1 Spanish 1</a>
   <a href="{{url_for('period_3_Spanish_2_enroll')}}">Period 3 Spanish 2</a>
  <a href="{{url_for('period_5_Spanish_2_enroll')}}">Period 5 Spanish 2</a>
</div>

<h1>Enroll or check enrollment - P.3 Spanish 2</h1>

<form action="/update_2" method="POST">
    <div class="form-group">
        <input type="text" class="form-control" id="exampleInputEmail1" style="width: 150px;" aria-describedby="emailHelp"
            placeholder="subject" name='subject_2' style="width: 200px;">
    </div>

    <div class="form-group">
        <input type="text" class="form-control" id="exampleInputEmail1" style="width: 150px;" aria-describedby="emailHelp"
            placeholder="teacher" name='teacher_2' style="width: 200px;">
    </div>

    <div class="form-group">
        <input type="text" class="form-control" id="exampleInputEmail1" style="width: 150px;" aria-describedby="emailHelp"
            placeholder="first name" name='first name_2' style="width: 200px;">
    </div>

    <div class="form-group">
        <input type="text" class="form-control" id="exampleInputEmail1" style="width: 150px;" aria-describedby="emailHelp"
            placeholder="last name" name='last name_2' style="width: 200px;">
    </div>

    <div class="form-group">
        <input type="text" class="form-control" id="exampleInputEmail1" style="width: 150px;" aria-describedby="emailHelp"
            placeholder="graduation year" name='graduation year_2' style="width: 200px;">
    </div>

    <div class="form-group">
        <input type="text" class="form-control" id="exampleInputEmail1" style="width: 150px;" aria-describedby="emailHelp" placeholder="grade"
            name='grade_2' style="width: 200px;">
    </div>

    <button type="submit" class="btn btn-warning">Enroll student</button>

</form>

<form action="/query_2" method="GET">
    <button type="submit" class="btn btn-warning">Show class roster</button>
</form>

<h7>This is a photo of PgAdmin for Period 3 Spanish 2 table once the 'gradebook.sql' starter code is ran. Table can be changed with the above form (enroll student) and edited once 'show class roster' is clicked.</h7>


    <img src="static/images/table_2.png"
        id="img1"
      />
      <br /><br /><br />
       </div>

    <img src="static/images/database.png"
        id="img2"

      />
      <br /><br /><br />
       </div>

{% endblock %}
